body {
  font-size: .875rem;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
  position: -webkit-sticky;
  position: sticky;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

/*
 * Utilities
 */

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

#test-list{
  display: block;
  width: 100%;
  max-height: 700px;
  overflow: scroll;
  text-overflow: ellipsis;
}
.test-list-item{
  background-color: white;
  border: 1px lightgray solid;
  border-bottom: none;
  padding: 10px 10px 10px 20px;
}
.test-list-item:hover{
    cursor: pointer;
    background-color: #edf6ff;
}
.test-name{
  font-size: large;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

#searchBar {
  background: url('../img/searchicon.png') no-repeat left;
    background-position-x: 10px;
    background-size: 25px 25px;
  background-color: white;
  width: 100%;
  font-size: 14px;
  padding: 12px 20px 12px 40px;
  border: 1px lightgray solid;
}

.pgx-title{
  padding: 20px;
  padding-bottom: 0;
}

.no-bottom{
  padding-bottom: 0;
  margin-bottom: 0;
}

.no-top{
  padding-top: 0;
  margin-top: 0;
}

#loading-list {
    background: url('../img/loader.gif') no-repeat center top;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 9999999;
}

#main-container{
  width: 100%;
  height: 100%;
  position: relative;
}
#option-list,
#main-content {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

#option-list{
  z-index: 10;
}
#select-message{
  pointer-events: none;
}

.main-about{
  padding-top: 25px;
  padding-left: 200px;
  width: 80%;
}
.hook-box{
  text-align: left;
  padding: 10px;
  border: 1px lightgray solid;
  width: 80%;
  height: 350px;
  overflow: scroll;
}

.summary-header{
  font-size: large;
}

.summary-background{
  padding-top: 45px;
  width: 80%;
}

.option-selected{
  background-color: #edf6ff;
}

.fhir-box{
  padding: 10px;

}

ul{
    list-style: none;
}
.fhir-li{
    padding: 10px;
    border-bottom: 1px solid lightgray;
}
.fhir-li:hover{
    cursor: pointer;
    background-color:#edf6ff;
}
.test-li{
    padding: 10px;
}
.test-li:hover{
    cursor: pointer;
    background-color:#edf6ff;
}
.test-selected{
    background-color:#edf6ff;
}

.fhir-p{
    margin: 0;
}

.top{
    border-top: 1px solid lightgray;
}
.view-box{
  padding: 10px;
  border: 1px solid lightgray;
  height: 750px;
  overflow: scroll;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}